<!DOCTYPE html>

<html>
    <head>
        <title>Sourceless</title>
        <meta name="description" content="Index page"/>
        <meta name="keywords" content="sourceless, index"/>
        <meta charset="utf-8"/>
        <meta name="author" content="Laurence Pakenham-Smith"/>
        <meta name="copyright" content="2020-{{ current-year }} Laurence Pakenham-Smith"/>
        <meta name="robots" content="index"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{{ url }}/assets/css/main.css"/>
    </head>

    <body>
        <code id="content">
            {{ header }}
            <br/>
            <br/>
            <br/>
            {% for post in posts %}
                {{ post.formatted-date}} <a href="{{ url }}/posts/{{ post.filename }}.html">{{ post.metadata.title }}</a><br />
            {% endfor %}
        </code>
    </body>
</html>
